__pycache__
/random things
First_region_model.pth
Second_region_model.pth
*.pth
*.mp4
TransVOD/TransVOD_Lite-main/models/ops/cuda-repo-wsl-ubuntu-12-4-local_12.4.1-1_amd64.deb
/TransVOD_Lite-main/models/*
TransVOD/TransVOD_Lite-main/models/ops/build/temp.linux-x86_64-cpython-311/mnt/c/Users/adrie/Documents/GitHub/Jet-detection-and-localisation/TransVOD/TransVOD_Lite-main/models/ops/src/cpu/ms_deform_attn_cpu.o
TransVOD/TransVOD_Lite-main/models/ops/build/temp.linux-x86_64-cpython-311/mnt/c/Users/adrie/Documents/GitHub/Jet-detection-and-localisation/TransVOD/TransVOD_Lite-main/models/ops/src/cuda/ms_deform_attn_cuda.o
TransVOD/TransVOD_Lite-main/models/ops/build/temp.linux-x86_64-cpython-311/mnt/c/Users/adrie/Documents/GitHub/Jet-detection-and-localisation/TransVOD/TransVOD_Lite-main/models/ops/src/vision.o
TransVOD/TransVOD_Lite-main/models/ops/dist/MultiScaleDeformableAttention-1.0-py3.11-linux-x86_64.egg
TransVOD/TransVOD_Lite-main/models/ops/MultiScaleDeformableAttention.egg-info/PKG-INFO
TransVOD/TransVOD_Lite-main/models/ops/MultiScaleDeformableAttention.egg-info/SOURCES.txt
TransVOD/TransVOD_Lite-main/models/ops/build/temp.linux-x86_64-cpython-311/.ninja_log
TransVOD/TransVOD_Lite-main/models/ops/build/temp.linux-x86_64-cpython-311/.ninja_deps
TransVOD/TransVOD_Lite-main/models/ops/build/lib.linux-x86_64-cpython-311/MultiScaleDeformableAttention.cpython-311-x86_64-linux-gnu.so
jet_box_sophie/essai_data1/*
TransVOD/TransVOD_Lite-main/Using_model_with_out.ipynb
